body html {
    font-family: 'Playfair Display', serif;
 background-color: white;
}

/*  Nav */
.nav-link {
    color: white;
    font-size: 20px;
    /* text-shadow: 5px 10px 18px #111010; */
}
.logo {
    /* margin-left: rem; */
    box-shadow: 5px 10px 18px #111010;
}

/*  jumbotron */
.jumbotron  {
  
    background-image: url(./images/jumbo.jpeg);
    color: aliceblue;
}
.btn {
    box-shadow: 5px 10px 18px #111010;
}

/* Footer */
#main-footer {
    text-align: center;
    padding: 1rem;
    background: rgb(211, 210, 210);
    color: white;
    height: 60px;
  }

  a {
    color: white;
  }

  /* about */

  .imgLogo {
    box-shadow: 5px 10px 18px #111010;
  }

  .rounded-pill {
    box-shadow: 5px 10px 18px #111010;

  }
  .rounded-circle {
     
    box-shadow: 5px 10px 18px #111010;
  }
  #junior {
    width: 9rem;
    height: 9rem;
}

/* services */
  .card {
    background-color: rgb(211, 210, 210);
    /* color: white; */
   margin: 5px;
   box-shadow: 5px 10px 18px #111010;
  }

  /* modal */
  #Estimate {
      margin-top: 30px;
      margin-bottom: 30px;
  }

  #bottomBtn {
    font-size: 30px;
  }
  .fab {
      color: #0f0f0f;
      font-size: 70px;
      margin-left: 10px;
      
  }
  /* .icons {
      margin-left: 15px;
  } */
  /* contafct */

  #Contact h1 {
      margin-left: 20px;
  }

  #Contact h5 {
      margin-left: 20px;
  }

 